{% load i18n %}
<form method="post">
    {% csrf_token %}
    {% if formset.non_form_errors %}
    <ul class="non-form-errors">
        {% for error in formset.non_form_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <table>
        {{ formset }}
    </table>
    {% if formset.total_form_count > 0 %}
        <div>
            <input type="submit" name="submit" />
        </div>
    {% else %}
        <p>{% trans "Nothing to see here." %}</p>
    {% endif %}
</form>
